.input-panel {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  margin: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: rgba(255, 255, 255, 0.2); /* 반투명 배경 */
  padding: 20px; /* 내부 여백 */
  border-radius: 10px; /* 둥근 모서리 */
}

.input-group {
  display: flex;
  flex-direction: row; /* 검색바와 버튼을 나란히 배치 */
  gap: 10px; /* 검색바와 버튼 사이의 간격 */
  align-items: center; /* 검색바와 버튼을 수직 가운데 정렬 */
}

.input-panel .ant-input {
  width: 300px;
  height: 40px;
}

.input-panel .ant-btn {
  height: 40px; /* Input 높이에 맞추기 */
}

.recent-searches {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 10px;
}

.recent-searches .ant-tag {
  cursor: pointer; /* 태그에 포인터 커서를 추가 */
}